@import "./styles/bootstrap-custom.scss";

.App {
  text-align: center;
}

body {
  background-color: #ddecff;
  height: 95%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header > .project-name {
  text-align: left;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.app-header > .nav {
  float: righnpmt;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.logoBar {
  background-color: #4784c5;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.welcome {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.row {
  margin: auto;
}

.sub-header {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #919191;
  opacity: 1;
  margin-bottom: 4rem;
}

.get-started {
  text-align: center;
  font-weight: 900;
  font-size: 78px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  margin-bottom: 1rem;
}

.kendoka {
  width: 12.5rem;
  height: 12.5rem;
  opacity: 1;
  margin-top: -2rem;
}

.change-theme {
  font-size: 14px;
  color: #9098a5;
}

.components-list > p > a {
  margin-left: 0.6em;
}
.components-list > p > img {
  width: 1.25rem;
  height: 1.3125rem;
}
.footer {
  font-size: 11px;
  background: #646871 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 2px;
  padding-bottom: 2px;
}

.footer .links {
  text-align: left;
  letter-spacing: 0.33px;
  color: #ffffff;
  font-weight: 700;
  opacity: 1;
}
.divider {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  opacity: 0.2;
}

.copyright {
  letter-spacing: 0.33px;
  color: #ffffff;
  opacity: 0.6;
}

.k-widget.k-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.k-widget.k-dropdown,
.k-list .k-item {
  text-transform: uppercase;
}

.social img {
  margin-left: 3rem;
}

// .container-fluid {
//   width: fit-content;
// }

.d-flex {
  flex-direction: column;
  width: fit-content;
}

.ml-auto {
  margin-left: 0px;
}

.k-menu-link {
  padding-left: 1px;
}

// .col-lg-9 {
//   max-width: 100%;
// }

.sideBar {
  width: fit-content;
}

.k-grid-toolbar {
  background-color: #4784c5;
}

.k-grid-header {
  background-color: #4784c5;
}

.k-grid tr.k-alt {
  background-color: #a3c1e1;
}

.k-grid .k-button,
.k-grid .k-button:active {
  box-shadow: none;
  border-color: black;
  border-width: thin;
}

.k-column-title {
  color: white;
  overflow-wrap: break-word;
}

.k-button-primary,
.k-button.k-primary {
  background-color: #a3c1e1;
  color: #000000;
}
// .k-grid tr {
//   border-top-style:double;
//    border-style:double;
//    border-top-width:thick;
// }

.k-grid-header,
.k-header,
th.k-header,
.k-grid-header-wrap,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-grid td,
.k-grid-footer,
.k-grid-footer-wrap,
.k-grid-content-locked,
.k-grid-footer-locked,
.k-grid-header-locked,
.k-filter-row > td,
.k-filter-row > th {
  border-color: #00000038;
}

.k-toolbar .k-button-primary,
.k-toolbar .k-button.k-primary,
.k-toolbar .k-button.k-primary {
  background-color: #a3c1e1;
}

// .k-grid-table {
//   width: 100%;
// }

// .k-grid{
//   width: 100%;
// }

.k-cell-inner > .k-link {
  padding: 9px 9px;
}

.k-button {
  text-transform: none;
}

.k-cell-inner > .k-link {
  justify-content: center;
}

td.leftAlign {
  text-align: left;
}

td.centerAlign {
  text-align: center;
}

td.rightAlign {
  text-align: right;
}

.k-button-primary,
.k-button.k-primary {
  width: 100px;
}

.vl {
  border-left: 1px solid #0000004a;
  padding: 1px;
  height: 890px;
}
